registry "https://registry.yarnpkg.com"
node_version ">=8"
disable-self-update-check true
--install.no-default-rc true
--install.use-yarnrc "./.yarnrc"
--add.no-default-rc true
--add.use-yarnrc "./.yarnrc"
